/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap'); */

/* .rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}
*/
/* .logo {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #ffffff;
  } */

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Rubik+Bubbles&display=swap');

/* .bad-script-regular {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
  } */
  .logo{
    font-family: "Bad Script", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
    color: #ffffff;
  }
  .spanLogo{
    color: #FC4100;
    font-family: "Bad Script", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
  }
  /* .rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  } */
   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #00215E;
}
.nav-Header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* border-bottom: 1px solid #FC4100; */
    background-color: #00215E;
    /* height: 80px; */
    /* background: #FC4100; */
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-between;
    padding: 10px 60px;
    align-items: center;
}
.nav-Header ol{
    display: flex;
    gap: 15px;
    list-style-type: none;
    font-size: .9rem;
    font-weight: 700;
}
.nav-Header ol li a{
    color: #ffffff;
    text-decoration: none;
}
.contactMe{
    text-decoration: none;
    background: #FC4100;
    color: #00215E;
    padding: 8px 30px;
    font-size: .9rem;
    border-radius: 8px;
}
.main-Section{
    width: 100%;
    height: 600px;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
.two1{
    width: 60%;
    height: 600px;
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    align-items: center;
    /* border:4px solid rgb(1, 1, 119); */
    /* border-radius: 50%; */
    overflow: hidden;
}
.two1 img{
    width: 600px;
    height: 500px;
    /* border:6px solid rgb(1, 1, 119);
    border-radius: 50%; */
}
.two2{
    width: 40%;
    padding-right: 20px;
}
.twop1, .twop2{
    font-size: 1.6rem;
}
.span1{
    font-weight: bold;
    font-size: 1.8rem;
    color: rgb(1, 1, 119);
    padding-right: 5px;

}
.span2{
    font-weight: bold;
    font-size: 1.8rem;
    color: rgb(1, 1, 119);
}
.three{
    margin-top: 10px;
}
.three ol{
    display: flex;
    list-style: none;
    gap: 10px;
}
.three ol a{
    color: rgb(1, 1, 119);
}
.footer{
    width: 100%;
    height: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #272829;
}
@media all and (max-width:900px){
    .main-Section{
        flex-direction: column;
        height: auto;
        margin-bottom: 10px;
    }
    .two1{
        width: 100%;
        /* border: 1px solid black; */
    }
    .two2{
        width: 100%;
        padding: 40px;
        text-align: center;
    }
    .three ol{
        justify-content: center;
    }
    
}
@media all and (max-width:500px){
    .two1{
        height: 500px;
    }
    .two1 img{
        width: 400px;
        height: 400px;
    }
    .footer{
        height: 100px
    }
}
@media all and (max-width:450px){
    .two1{
        height: 400px;
    }
    .two1 img{
        width: 300px;
        height: 300px;
    }
    .footer{
        height: 100px
    }
}
@media all and (max-width:340px){
    .two1{
        height: 300px;
        /* border: 1px solid black; */
    }
    .two1 img{
        width: 200px;
        height: 200px;
    }
    .footer{
        height: 200px
    }
}
@media all and (max-width:300px){
    .two1{
        height: 300px;
        /* border: 1px solid black; */
    }
    .twop1, .twop2{
        font-size: 1.4rem;
    }
    .two1 img{
        width: 200px;
        height: 200px;
    }
    .footer{
        height: 200px
    }
}